<table class="liebiao" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="22%" align="right"><strong>名称：</strong></td>
    <td width="78%" align="left"><%= f.text_field :name, :class => "shuru", :size => "30" %></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <%= f.submit "保存", :class => "btn" %>
    </td>
  </tr>
</table>