<div style="width:800px; background:#eee; margin:120px auto 40px auto;">
  <form action="/index/send_pwd" method="post">
    <table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="2">请通过您的注册邮箱来找回密码</td>
    </tr>
  <tr>
    <td width="22%" align="right"><strong>邮箱：</strong></td>
    <td width="78%" align="left">
      <input type="text" name="email" class="shuru" />
    </td>
  </tr>
    <td></td>
    <td><input class="btn" name="" type="submit" value="找回密码"></td>
  </tr>
</table>
</form>
  </div>