<table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:none">
		  <tr>
			<td align="left" valign="top">
				<div class="message">
					尊敬的<%= @current_user.name %>：<br />
					<p class="xinxi">您的账户余额即将不足，为了不影响您的会员正常定制服务，请及时充值&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">立即充值</a></p>
					<p class="xinxi">您有 2 个定制服务即将到期&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">点击查看</a></p>
				</div>
			  <div class="zhjb">
					亲爱的<%= @current_user.name %>，欢迎您登录本系统！
				</div>
				<div class="chongzhi">
					<a href="#"><img src="<%= image_path("cz.gif")%>" alt="在线充值" width="83" height="27" /></a>
				</div>
				<div class="zhed">
					<strong>可用余额<font color="#ff7e00">0</font>元</strong>
				</div>
			</td>
			<td width="300" align="left" valign="top">
				<div class="xgwd">
					<div class="bt">相关文档<a class="more" href="###">更多&gt;</a></div>
					<ul class="txtList">
						<li><a class="link" href="##">服务器升级通知服务器升级通知服务器升级通知服务器升级通知</a></li>
						<li><a class="link" href="##">服务器升级通知</a></li>
						<li><a class="link" href="##">服务器升级通知</a></li>
						<li><a class="link" href="##">服务器升级通知</a></li>
						<li><a class="link" href="##">服务器升级通知</a></li>
						<li><a class="link" href="##">服务器升级通知</a></li>
					</ul>
				</div>
			</td>
		  </tr>
	  </table>