<div style="width:800px; background:#eee; margin:120px auto 40px auto;">
    <table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="2"><%= @notice %> </td>
    </tr>  
</table>
  </div>